[submodule "src/ext/iris-dokumentation"]
	path = src/ext/iris-dokumentation
	url = https://github.com/iris-connect/iris-documentation.git
[submodule "src/ext/iris-client"]
	path = src/ext/iris-client
	url = https://github.com/iris-connect/iris-client.git
[submodule "src/ext/eps"]
	path = src/ext/eps
	url = https://github.com/iris-connect/eps.git
