<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="main-nav"> 
          <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/impressum.html">Impressum</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <p class="center-text"> Fußzeile</p>  
      </div>
    </footer>
  </body>
</html>
        
